{:paths     ["src" "target/classes"]
 :deps
 {org.clojure/clojure           #:mvn{:version "1.10.3"}
  org.clojure/core.cache        #:mvn{:version "1.0.207"}
  clj-stacktrace/clj-stacktrace #:mvn{:version "0.2.8"}
  clj-http/clj-http             #:mvn{:version "3.12.2"}
  environ/environ               #:mvn{:version "1.2.0"}
  org.clojure/data.json         #:mvn{:version "2.3.1"}}
 :mvn/repos {}
 :aliases   {:test {:extra-paths ["test"]
                    :extra-deps  {midje/midje                   {:mvn/version "1.10.3"
                                                                 :exclusions  [potemkin/potemkin
                                                                               riddley/riddley]}
                                  lambdaisland/kaocha           {:mvn/version "1.0.861"}
                                  lambdaisland/kaocha-cloverage {:mvn/version "1.0.75"}
                                  lambdaisland/kaocha-midje     {:mvn/version "0.0-5"}}}}}
