#kaocha/v1
{:tests   [{:type         :kaocha.type/midje
            :source-paths ["src"]
            :test-paths   ["test"]}]
 :plugins [:kaocha.plugin/profiling
           :kaocha.plugin/print-invocations
           :kaocha.plugin/cloverage]}
